<header>

    <img src="assets/image/logo.png" routerLink="" style="cursor:pointer">

    <nav class="d-none d-lg-flex">
        <span routerLink="" routerLinkActive="_theme-light" [routerLinkActiveOptions]="{exact:true}">Home</span>
        <span routerLink="/market" routerLinkActive="_theme-light">Market</span>
        <span routerLink="/trading" routerLinkActive="_theme-light">Trading</span>
        <span routerLink="/news" routerLinkActive="_theme-light">News</span>
        <span routerLink="/staking" routerLinkActive="_theme-light">Staking</span>
        <span routerLink="/games" routerLinkActive="_theme-light" class="me-0">Games</span>
    </nav>

    <button class="login-button d-none d-lg-inline" routerLink="/login">Sign In</button>

    <img src="assets/image/banan.png" class="d-lg-none _pointer">
</header>

