<div class="parentFooter">
    <div>
        <img src="assets/image/logo.png">
    </div>
    <div class="link">
        <div class="row child-link">
            <div class="col-2">
                <img class="_pointer" src="assets/image/twitter.png">
            </div>
            <div class="col-2">
                <img class="_pointer" src="assets/image/facebook.png">
            </div>
            <div class="col-2">
                <img class="_pointer" src="assets/image/Instagram.png">
            </div>
            <div class="col-2">
                <img class="_pointer" src="assets/image/telegram.png">
            </div>
            <div class="col-2">
                <img class="_pointer" src="assets/image/youtube.png">
            </div>
            <div class="col-2">
                <img class="_pointer" src="assets/image/m.png">
            </div>
        </div>
        <p class="mail-adress">info@orbitex.org</p>
        
    </div>
</div>
<hr>
<div class="info">All rights reserved <div style="margin-left: 10px; margin-right: 10px; color:#A3A3A3">|</div> 2022
    Orbitex.org</div>



   
   
  
  

  