<div class="parentFooter">
    <div>
        <img src="assets/image/logo.png">
    </div>
    <div class="link">
        <img class="_pointer" src="assets/image/twitter.png">
        <img class="_pointer" src="assets/image/facebook.png">
        <img class="_pointer" src="assets/image/Instagram.png">
        <img class="_pointer" src="assets/image/telegram.png">
        <img class="_pointer" src="assets/image/youtube.png">
        <img class="_pointer" src="assets/image/m.png">
            <p>info@orbitex.org</p>
    </div>
</div>
<hr>
<div class="info">All rights reserved <div style="margin-left: 10px; margin-right: 10px; color:#A3A3A3">|</div> 2022
    Orbitex.org</div>