<div class="container-fluid ">


    <div class="d-flex">
        <div class=" left-section col-6 bg-dark">
        </div>
            <div class="right-section col-6">
        
                <form class="form">
    
                    <div>
                        <div>
                            <label>Email address</label>
                        </div>
                        <input placeholder="Enter your email address">
                    </div>
                    <div>
                        <div>
                            <label>Password</label>
                        </div>
                        <input placeholder="Enter your password">
                    </div>
    
                </form>
            </div>
        
        
    </div>
</div>





<div class="asd d-sm-block d-md-block"></div>