<div class="container-fluid col-xl-12">
    <div class="d-flex">
        <div class="left-section col-6">
            <p>WELCOME TO YOUR PROFESSIONAL COMMUNITY</p>
            <img src="/assets/image/login-cosmonavt.png">
        </div>
        <div class="right-section col-6">
            <div class="row d-flex justify-content-center">
                <div class="rigth-section-items col-lg-6">
                    <a routerLink="/home" class="back" type="button">Back</a>
                        <button class="sign-in">Sign In</button>
                        <button class="sign-up">Sign Up</button>
                    <form>
                        <div class="email-group">

                            <label>Email address</label>

                            <input placeholder="Enter your email address">
                        </div>
                        <div class="password-group">

                            <label>Password</label>

                            <input placeholder="Enter your password">
                        </div>
                        <div class="checkbox-group">
                            <label>
                                <input type="checkbox">
                                <span >Check me out</span>
                            </label>
                                <a>Forgot password</a>                            
                          </div>
                          <button class="sign-in-now">Sign In</button>
                    </form>
                </div>

            </div>

        </div>


    </div>
</div>





<div class="asd d-sm-block d-md-block"></div>



