.container-fluid {
    padding: 0px;
}


.form-group {
    margin-top: 40%;
    margin-left: 3px;
}

.image-left {
    position: relative;
    .image-left-child {
        position: absolute;
        left:10%;
        top:15%
    }
}

@media (max-width: 576px) { 
   
    .Form{
        display: none;
    }
 }