<div class="Form ">
    <div class="container-fluid d-sm-none d-md-none d-lg-block">
        <div class="row">
            <div class="image-left col-lg-8">
                <img src="/assets/image/login-img.png">
                <img class="image-left-child" src="/assets/image/login-cosmonavt.png">
            </div>
            <div class="col-lg-4">
                <form class="form-group">
                    <div class="form-row">
                        <div class="col-lg-4">
                            <input type="email" placeholder="Email" class="form-control">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-lg-4">
                            <input type="password" placeholder="*********" class="form-control">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-lg-4">
                            <button type="button" class="btn1">Sign In</button>
                        </div>
                    </div>
                    <a href="">Forgot Password</a>
                </form>
            </div>
        </div>
    </div>

</div>


<div class="asd d-sm-block d-md-block"></div>

