<div class="container-fluid">
    <div class="type-search d-flex justify-content-between">
        <div class="type-value col-lg-6">
            <button>All</button>
            <button>BTC</button>
            <button>ETH</button>
            <button>USDT</button>
        </div>
        <div class="col-6">
            <div class="search-div d-flex">
                <input class="search-inp" placeholder="Search" type="search" title="search valute type">
                <button class="search-btn"><img src="/assets/image/search.png"></button>
            </div>
        </div>
    </div>

    <table class="_table d-xl-table">
        <tr class="asd row col-12">
            <th class="col">Pair</th>
            <th class="col">24H Changes</th>
            <th class="col">Last Price</th>
            <th class="col">24H Volume</th>
            <th class="col">24H Quote Volume</th>
        </tr>
        <div class="row col-12">
            <h3 class="col">Last</h3>
            <h3 class="col">Last</h3>
            <h3 class="col">Last</h3>
            <h3 class="col">Last</h3>
            <h3 class="col">Last</h3>

        </div>
        <div class="row col-12">
            <th class="col">Changes</th>
            <th class="col">Changes</th>
            <th class="col">Changes</th>
            <th class="col">Changes</th>
            <th class="col">Changes</th>

        </div>
        <div class="row col-12">
            <th class="col">Changes</th>
            <th class="col">Changes</th>
            <th class="col">Changes</th>
            <th class="col">Changes</th>
            <th class="col">Changes</th>

        </div>
        <div class="row col-12">
            <th class="col">Changes</th>
            <th class="col">Changes</th>
            <th class="col">Changes</th>
            <th class="col">Changes</th>
            <th class="col">Changes</th>

        </div>
        <div class="row col-12">
            <th class="col">Changes</th>
            <th class="col">Changes</th>
            <th class="col">Changes</th>
            <th class="col">Changes</th>
            <th class="col">Changes</th>

        </div>
        <div class="row col-12">
            <th class="col">Changes</th>
            <th class="col">Changes</th>
            <th class="col">Changes</th>
            <th class="col">Changes</th>
            <th class="col">Changes</th>

        </div>
        <div class="row col-12">

            <span class="col">dwdwd</span>
            <span class="col">dwdwd</span>
            <span class="col">dwdwd</span>
            <span class="col">dwdwd</span>
            <span class="col">dwdwd</span>
        </div>
        <div class="row col-12">

            <span class="col">dwdwd</span>
            <span class="col">dwdwd</span>
            <span class="col">dwdwd</span>
            <span class="col">dwdwd</span>
            <span class="col">dwdwd</span>
        </div>
    </table>


</div>

<app-footer></app-footer>