<div class="container-fluid">
    <div class="type-search d-flex justify-content-between">
        <div class="type-value col-lg-6">
            <button [ngClass]="{'colorBlue':!btn1, 'colorDefault':btn1}" (click)="all()">All</button>
            <button [ngClass]="{ 'colorBlue':!btn2, 'colorDefault':btn2}" (click)="btc()">BTC</button>
            <button [ngClass]="{ 'colorBlue':!btn3, 'colorDefault':btn3}" (click)="eth()">ETH</button>
            <button [ngClass]="{'colorBlue':!btn4, 'colorDefault':btn4}" (click)="usdt()">USDT</button>
        </div>
        <div class="col-6">
            <div class="search-div d-flex">
                <input #ref class="search-inp" placeholder="Search" type="search" title="search valute type">
                <button (click)="filterWithName(ref.value)" class="search-btn"><img
                        src="/assets/image/search.png"></button>
            </div>
        </div>
    </div>

    <table class="_table d-xl-table">
        <tr class="row col-12">
            <span class="col">Pair</span>
            <span class="col">24H Changes</span>
            <span class="col">Last Price</span>
            <span class="col">24H Volume</span>
            <span class="col">24H Quote Volume</span>
        </tr>
        <hr>
        <div class="info-line row col-12" *ngFor="let item of this.arr">
            <span class="col">
                <img class="logo-img" [src]='url+item.quote+png'>
                {{item.symbol}}
            </span>
            <span [ngClass]="{red:item.amountPrecision >= 3,
            green:item.amountPrecision < 3}" class="col">{{item.amountPrecision}}</span>
            <span class="col">{{item.bid}}</span>
            <span class="col">{{item.price}}</span>
            <span class="col">{{item.ask}} {{ item.quote}}</span>
        </div>
    </table>

    <div class="btn-toolbar justify-content-end mt-2" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group" role="group" aria-label="First group">
            <button type="button" class="btn btn-primary">1</button>
            <button type="button" class="btn btn-primary">2</button>
            <button type="button" class="btn btn-primary">3</button>
            <button type="button" class="btn btn-primary">4</button>
        </div>
    </div>

    <app-footer></app-footer>