<div class="container-fluid">
    <div class="type-search d-flex justify-content-between">
        <div class="type-value col-lg-6">
            <button (click)="all()">All</button>
            <button (click)="btc()">BTC</button>
            <button (click)="eth()">ETH</button>
            <button (click)="usdt()">USDT</button>
        </div>
        <div class="col-6">
            <div class="search-div d-flex">
                <input class="search-inp" placeholder="Search" type="search" title="search valute type">
                <button class="search-btn"><img src="/assets/image/search.png"></button>
            </div>
        </div>
    </div>

    <table class="_table d-xl-table">
        <tr class="row col-12">
            <span class="col">Pair</span>
            <span class="col">24H Changes</span>
            <span class="col">Last Price</span>
            <span class="col">24H Volume</span>
            <span class="col">24H Quote Volume</span>
        </tr>
        <hr>
        <div class="info-line row col-12" *ngFor="let item of this.arr">
            <span class="col">
                <img class="logo-img" [src]='url+item.quote+png'>
                {{item.symbol}}
            </span>
            <span [ngClass]="{red:item.amountPrecision >= 3,
            green:item.amountPrecision <3
            }" class="col">{{item.amountPrecision}}</span>
            <span class="col">{{item.bid}}</span>
            <span class="col">{{item.price}}</span>
            <span class="col">{{item.ask}} {{ item.quote}}</span>
        </div>
    </table>


</div>

<app-footer></app-footer>