.type-search {
    margin-top: 80px;

    .type-value {
        button {
            width: 126px;
            height: 36px;
            background: aqua;
        }
    }

    .search-div {
        float: right;

        .search-btn {
            margin-left: 7px;
            height: 36px;
            width: 36px;
            background-color: aqua;
            border-radius: 11px;


            img {
                margin-top: -3px;
            }
        }

        .search-inp {
            color: aqua;
            flex-direction: row;
            width: 343px;
            height: 36px;
            background: rgba(118, 118, 128, 0.24);
            border-radius: 5px;
        }
    }
}


._table {
    width: 100%;
    margin-top: 30px;
    background: rgba(107, 214, 240, 0.2);
    backdrop-filter: blur(100px);
    border-radius: 5px;
}

.col-2 {
    background-color: aqua;
}

.col-3 {
    background-color: brown;
}

.info-line {
    height: 60px;
    align-items: center;
}

.logo-img {
    height: 44px;
    margin-right: 9px;
}

.remb {
    word-wrap: inherit;
}

span {
    padding-left: 30px;
    color: #E2E2E2;
}

.red {
    color: red;
}

.green {
    color: green;
}