/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";

._pointer {
    cursor: pointer;
}

body {
    background-color: #020659;
}
._theme-light {
    color: #6BD6F0 !important;
}

._theme-light-bg {
    background-color: #6BD6F0 !important;
}

._theme-dark {
    color: #020659 !important;
}

._theme-dark-bg {
    background-color: #020659 !important;
}


// body::-webkit-scrollbar {
//     width: 20px;
// }


// body::-webkit-scrollbar-track {
//     background: black;
// }

// body::-webkit-scrollbar-thumb {
//     background: linear-gradient(351deg, rgba(10, 36, 0, 1) 0%, rgba(9, 121, 22, 1) 35%, rgba(0, 255, 67, 1) 100%);
//     border-radius: 15px;
//     /*  border: 3px solid var(--scrollbarBG);*/
//     border-width: 10px;

// }

// body::-webkit-scrollbar-thumb:active {
//     background: linear-gradient(351deg, rgba(40, 143, 0, 1) 0%, rgba(7, 197, 29, 1) 35%, rgba(31, 235, 84, 1) 100%);

// }

// .foot {
//     position: relative;
// }
