<div class="home container-fluid d-sm-table d-md-flex d-lg-flex d-xl-flex text-center">
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <p class="display-3 d-inline" style="color:#E2E2E2">BUY AND SELL</p>
        <p class="display-3 d-inline" style="color:#6BD6F0"> CRYPTOCOIN</p>
        <h4 style="color:#E2E2E2">
            Everything you need to know about
            cryptocurrency is here for you
        </h4>
        <button class="childbtn">Learn More</button>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <img src="/assets/image/cosmos.png" class="col-6">
    </div>
</div>

<div class="title">
    <div class="name">
        <div class="line"></div>
        <h2>Market</h2>
    </div>
    <p>See All</p>
</div>

<div class="news container-fluid d-sm-table d-md-flex d-lg-flex d-xl-flex text-center" style="background-color:#6BD6F0">
    <div class="new col-sm-12 col-md-6 col-lg-3 col-xl-2">dhudheudhehduedue</div>
    <div class="new col-sm-12 col-md-6 col-lg-3 col-xl-2">uququuququuqquuqqu</div>
    <div class="new col-sm-12 col-md-6 col-lg-3 col-xl-2">opopoppooppoop</div>
    <div class="new col-sm-12 col-md-6 col-lg-3 col-xl-2">mnmnmnmnmnnmnm</div>
</div>

<div class="orbitexTokenImg col-sm-12 col-md-8 col-lg-6 col-xl-6">
    <img src="/assets/image/cosmonavt.png" class="col-6">
</div>
<div class="orbitexToken .G-card-color">
    <h2>OrbiteX Token</h2>
    <p> Orbitex has launched its own token, the OrbiteX token. OrbiteX is a utility token of Orbitex
        exchange and ecosystem. You can trade fast and safe with OrbiteX on our exchange,play games,
        get rewards and purchase various cool features like badges or energy boosts. </p>
    <div class="divbtn">
        <button class="childbtn">Trade now</button>
    </div>
</div>


<div class="titleNews">
    <div class="name">
        <div class="line"></div>
        <h2>News</h2>
    </div>
    <p>See All</p>
</div>

<div class="container-fluid d-sm-table d-md-flex d-lg-flex d-xl-flex text-center" style="margin-top:40px">
    <div *ngFor="let news of this.newsInHomePage" class="new col-sm-8 col-md-4 col-lg-4 col-xl-4">
        <img [src]="news.new.pictureUrl" class="col-10">
        <div class="textHome">
            <div>
                <h1 class="textChild">{{news.new.title}}</h1>
                <p class="textChild">{{news.new.discription}}</p>
                <h2 class="textChild">Learn More</h2>
            </div>
        </div>
    </div>
</div>


<div style="margin-top:500px">
    <div class="subscribe-block-avatar">
        <img src="/assets/image/namak.png">
    </div>
    <div class="subscribe-block">
        <h6>Subscribe to be informed</h6>
        <p>Don’t miss latest news and the best deals in cryptomarkets.</p>
        <div class="emialDiv">
            <input class="emailInp" type="text" placeholder="Enter your email address">
        </div>
        <button class="subscribeBtn">Subscribe</button>
    </div>
</div>



<app-footer></app-footer>